.upvip{
    width: 80%;
    overflow: hidden;
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
 
   
    .bg{
        position: fixed;
        z-index: -1;
        top: 40%;
        left: -100px;
        background-color: rgb(92, 155, 207);
        width: 150%;
        height: 100%;
        transform: rotate(-20deg); 
    }
  
    h1{        
        color: rgb(28, 115, 190);
        margin-top: 40px
      }
      .action_vip{
        float: right;
        .qrcode{
          width: 400px;
          height: 400px;
          background-color: blue($color: #000000);
        }
        .order_btn{
          width: 400px;
          height: 50px;
          background-color: rgb(28, 150, 68);
          color: white;
          font-size: 30px;
          margin:40px 0;
          border-radius: 5px;
        }
        .price{
        font-size: 40px;
        font-weight: 40px;
         margin-top: 30px;
        color: white;
        }
      }
   
  
    .vip_content{
      font-size: 20px;
      color: rgb(109, 106, 106);
      margin: 20px 0;
    }
    .vip_img{
      width: 400px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 80px;
      margin-left: -20px;
      img{
        width: 150px;
        height: 150px;
        border-radius: 8px;
        box-shadow: 10px 0 15px #1072d49c;

      }
    }
}