.message-bar.active {
    display: flex;
    align-items: center;
    background-color: #f2f6f7;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    margin-top: 8px;
  }
  .message-bar {
    display: flex;
    align-items: center;
    border-bottom: #d9d9d9 1px solid;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    margin-top: 8px;
  }
  
  .signal-icon {
    width: 16px;
    height: 16px;
    background-color: #00aaff;
    margin-right: 8px;
    border-radius: 50%;
  }
  
  .nameSong {
    font-weight: bold;
    color: #000;
  }
  
  .artist {
    color: #909090;
    margin-left: 4px;
  }
  
  .actions {
    margin-left: auto;
    display: flex;
    gap: 8px;
  
    button{
      background-color: none;
      border: none;
      width: 60px;
      height: 30px;
      cursor: pointer;
      background-color: #f2f6f7;
      border-radius: 5px;
    }
    .edit{
      background-color: #00aaff;
    }
    .delete{
      background-color: #ff0000;
    }
    button:hover{
      opacity: 0.8;
    }
  }
  
  .action-button {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: #f2f6f7;
  }

  .song_list_to-add{
    width: 45%;
    margin-right: 10px;
    border: #d9d9d9 1px solid;
    padding: 10px;
    min-height: 400px;
    input{ 
      border: none;
      height: 35px;
      border-bottom: #d9d9d9 1px solid;
      width: 100%;
      padding: 3px;
      color: #999;
    }
    .add_song{
        display: flex;
        margin: 10px 0;
        border: #f2f6f7 1px solid;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 1px 2px #999;
        button{
          background-color: white;
        }
    }
  }
  .song_list_added{
    width: 45%;
    margin-right: 10px;
    border: #d9d9d9 1px solid;
    padding: 10px;
    min-height: 400px;
  }

  
